html {
    box-sizing: border-box;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.educaiton__list svg {
    width: 20px;
    height: 20px;
}